<template>
    <div class="slds-var-p-horizontal_x-large">
        <template if:true={isLoading}>
            <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
        </template>
        <lightning-card title="Business Hierarchy">
            <template if:true={showHierarchy}>
                <lightning-tree-grid columns={columns} data={businessRecords} key-field="Id" ontoggle={handleToggle} expanded-rows={expandedRows}></lightning-tree-grid>
            </template>
            <template if:false={showHierarchy}>
                <div class="slds-box slds-theme_shade slds-theme_alert-texture slds-align_absolute-center">
                    <h2 class="slds-text-heading_medium">No business hierarchy to show.</h2>
                </div>
            </template>
        </lightning-card>
    </div>
</template>